<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if signed_in? %>
        <%= render 'follow_form' %>
        <%= render 'employ_form' %>
      <% end %>
      <% unless @user.microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
     <strong>Microposts </strong><%= @user.microposts.count %>
     <br>
      <% unless @user.menus.empty? %>
     <strong>Menus </strong><%= link_to @user.menus.count , menu_user_path(@user) %>
      <% end %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>
