<tr>
  <td colspan="3" class="menu">
    <span class="content"><%= menu_item.content %></span>
  </td>
  <% if current_user?(menu_item.user) %>
  <td class="menu">
    <span class="action">
    <%= link_to "edit", edit_menu_path(menu_item) %>  
    </span>
  </td>
  <td class="menu">
    <span class="action">
    <%= link_to "delete", menu_item, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => menu_item.content %>
    </span>
  </td>
  <% end %>
</tr>
<tr>
<td class="delivery"> Name </td>
<td class="delivery"> Description </td>
<td class="delivery"> Price </td>
<td class="delivery" colspan="2"> Actions </td>
</tr>
<tr>
<% @delivery.menu_id = menu_item.id %>
<%= form_for @delivery do |f| %>
     <%= f.hidden_field :menu_id %>
<td class="delivery">
  <div class="field">
    <%= f.text_field :name, :size => 10 %>
  </div>
</td>
<td class="delivery">
  <div class="field">
    <%= f.text_field :descr, :size => 40 %>
  </div>
</td>
<td class="delivery">
  <div class="field">
    <%= f.text_field :price, :size => 3 %>
  </div>
</td>
<td class="delivery" colspan="2">
  <div class="actions">
    <%= f.submit "Add Voice to Menu" %>
  </div>
</td>
<% end %>
</tr>
<%= render :partial => 'shared/delivery_item', :collection => @deliveries.shift %>
