<tr>
  <td colspan="3" class="menu">
    <span class="content"><%= menu_item.content %></span>
  </td>
  <% if current_user?(menu_item.user) %>
  <td class="menu">
    <span class="action">
    <%= link_to "edit", edit_menu_path(menu_item) %>  
    </span>
  </td>
  <td class="menu">
    <span class="action">
    <%= link_to "delete", menu_item, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => menu_item.content %>
    </span>
  </td>
  <% end %>
</tr>
<tr>
<td class="delivery" colspan="4">
<% @delivery.menu_id = menu_item.id %>
<%= form_for @delivery do |f| %>
     <%= f.hidden_field :menu_id %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :descr %>
    <%= f.text_field :descr %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit "Add Voice to Menu" %>
  </div>
<% end %>
</td>
</tr>
<%= render :partial => 'shared/delivery_item', :collection => @deliveries.shift %>
