<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <b><%= @account.table %> Order</b> - Owned by: <%= @account.owner.name %> - Guests: <%= @account.guests %>
        <% unless @menus.empty? %>
        <table class="menus" summary="User Menu">
        <% @menus.each do |menu_item| %>       
        <tr>
          <td colspan="3" class="menu">
            <span class="content"><%= menu_item.content %></span>
          </td>
        </tr>
        <%= render :partial => 'order_item', :collection => @orders.shift %>
        <% end %>
      </table>
  <%= will_paginate @menus %>
    <% end %>
    </td>
  </tr>
</table>
