<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
Owner: <%= @account.owner.name %> - <%= link_to "order", order_account_path(@account) %>
<h1>Account: <%= @account.table %>(<%= link_to "edit", edit_account_path(@account) %>) - <%= @account.guests %> guests </h1>
     <%= render 'shared/orders' %>
    </td>
  </tr>
</table>
